<!-- Content -->
<div class="grow md:flex space-y-8 md:space-y-0 md:space-x-8 pt-12 md:pt-16 pb-16 md:pb-20">
  <!-- Middle area -->
  <div class="grow">
    <div class="max-w-[700px]">
      <section>
        <!-- Page title -->
        <h1 class="h1 font-aspekta mb-5">Hi. I'm Nikolaj <%= link_to 'https://github.com/NikoDyring', target: '_blank' do %><span class="inline-flex relative text-sky-500 before:absolute before:inset-0 before:bg-sky-200 dark:before:bg-sky-500 before:opacity-30 before:-z-10 before:-rotate-2 before:translate-y-1/4">@NikoDyring</span><% end %> Jensen </h1>
        <%= image_tag(asset_path('about_me.png'), class: 'w-full', height: 390, width: 692, alt: 'About me') %>
        <!-- Page content -->
        <div class="text-slate-500 dark:text-slate-400 space-y-8">
          <div class="space-y-4">
            <h2 class="h3 font-aspekta text-slate-800 dark:text-slate-100">Short Bio</h2>
            <p>
              My name is Nikolaj Dyring Jensen and I'm passionate about learning the latest and greatest technologies whether thats the frontend or backend. I enjoy creating sleek and responsive applications in addition to being user friendly. I love working in fast paced environments. I excel at collaborating with teams of different knowledge sets. A versatile programmer with interests in Software Engineering, VR/AR and Game Development. Adaptable and self motivated learner. Interested in new programming technologies, and continuous self improvement. I am currently looking for new opportunities!            </p>
            <p>
              While there isn't a Wikipedia page about me (sorry folks!), a career timeline is available below.
            </p>
          </div>
          <div class="space-y-4">
            <h2 class="h3 font-aspekta text-slate-800 dark:text-slate-100">Experience</h2>
            <ul class="-my-2">
              <!-- Role -->
              <li class="relative py-2">
                <div class="flex items-start mb-1">
                  <div class="absolute left-0 h-full w-px bg-slate-200 dark:bg-slate-800 self-start ml-[28px] -translate-x-1/2 translate-y-3" aria-hidden="true"></div>
                  <div class="absolute left-0 h-14 w-14 flex items-center justify-center border border-slate-200 dark:border-slate-800 dark:bg-gradient-to-t dark:from-slate-800 dark:to-slate-800/30 bg-white dark:bg-slate-900 rounded-full">
                    <%= image_tag(asset_path('simplytv.png'), width: '32', height: '32') %>
                  </div>
                  <div class="pl-20 space-y-1">
                    <div class="text-xs text-slate-500 uppercase">Jan 2023 <span class="text-slate-400 dark:text-slate-600">路</span> Mar 2023</div>
                    <div class="font-aspekta font-[650] text-slate-800 dark:text-slate-100">Software Engineer</div>
                    <div class="text-sm font-medium text-slate-800 dark:text-slate-100"><%= link_to 'Simply TV', 'https://simply.tv' %></div>
                    <div class="text-sm text-slate-500 dark:text-slate-400">Development of JSON, XLSX, Email and XLS parsers to receive data from partners to present to our customers. Test-driven Development using Rspec</div>
                  </div>
                </div>
              </li>
              <!-- Role -->
              <li class="relative py-2">
                <div class="flex items-start mb-1">
                  <div class="absolute left-0 h-full w-px bg-slate-200 dark:bg-slate-800 self-start ml-[28px] -translate-x-1/2 translate-y-3" aria-hidden="true"></div>
                  <div class="absolute left-0 h-14 w-14 flex items-center justify-center border border-slate-200 dark:border-slate-800 dark:bg-gradient-to-t dark:from-slate-800 dark:to-slate-800/30 bg-white dark:bg-slate-900 rounded-full">
                    <%= image_tag(asset_path('group_logistic.png'), width: 32, height: 32) %>
                  </div>
                  <div class="pl-20 space-y-1">
                    <div class="text-xs text-slate-500 uppercase">May 2021<span class="text-slate-400 dark:text-slate-600">路</span> Dec 2022</div>
                    <div class="font-aspekta font-[650] text-slate-800 dark:text-slate-100">Developer</div>
                    <div class="text-sm font-medium text-slate-800 dark:text-slate-100"><%= link_to 'Group Logistic ApS', 'https://Hverdag.dk' %></div>
                    <div class="text-sm text-slate-500 dark:text-slate-400">
                      In my role as a Developer for Group Logistic ApS, I was responsible for:
                      <br>
                      Keep the system up to date, by upgrading both ruby and rails versions.
                      <br>
                      Set up our webshop to be dockerized and orchestrated with Kubernetes using Kuby.io
                      <br>
                      Third-party service integrations (such as Klaviyo, GTM, Meta Pixel, Reepay and Trustpilot)
                      <br>
                      Development of our package system for our Warehouse. (Scanning, printing labels, sending emails to customers and so on)
                    </div>
                  </div>
                </div>
              </li>
              <!-- Role -->
              <li class="relative py-2">
                <div class="flex items-start mb-1">
                  <div class="absolute left-0 h-full w-px bg-slate-200 dark:bg-slate-800 self-start ml-[28px] -translate-x-1/2 translate-y-3" aria-hidden="true"></div>
                  <div class="absolute left-0 h-14 w-14 flex items-center justify-center border border-slate-200 dark:border-slate-800 dark:bg-gradient-to-t dark:from-slate-800 dark:to-slate-800/30 bg-white dark:bg-slate-900 rounded-full">
                    <svg xmlns="http://www.w3.org/2000/svg" width="19" height="16">
                      <path fill="#00ADEF" d="M18.995 3.695c-.08 1.769-1.345 4.23-3.878 7.383C12.505 14.308 10.368 16 8.547 16 7.44 16 6.49 15 5.7 13c-.475-1.845-1.03-3.614-1.504-5.46-.554-2-1.187-3-1.82-3-.159 0-.634.308-1.504.847L0 4.31c.95-.77 1.9-1.615 2.77-2.384C4.036.849 4.986.31 5.62.234 7.122.08 7.993 1.08 8.31 3.156c.396 2.23.634 3.692.792 4.23.396 1.846.87 2.846 1.424 2.846.396 0 1.03-.615 1.82-1.846.792-1.23 1.188-2.153 1.267-2.769.08-1.076-.316-1.615-1.266-1.615-.475 0-.95.077-1.425.308.95-3 2.691-4.384 5.382-4.307 1.9.077 2.77 1.307 2.691 3.692Z" />
                    </svg>
                  </div>
                  <div class="pl-20 space-y-1">
                    <div class="text-xs text-slate-500 uppercase">Jan 2017 <span class="text-slate-400 dark:text-slate-600">路</span> Apr 2017</div>
                    <div class="font-aspekta font-[650] text-slate-800 dark:text-slate-100">Cloud Software Developer</div>
                    <div class="text-sm font-medium text-slate-800 dark:text-slate-100">Vimeo</div>
                    <div class="text-sm text-slate-500 dark:text-slate-400">In my role as a Senior Software Engineer for Google, I am responsible for developing and maintaining the Chrome Web Experience.</div>
                  </div>
                </div>
              </li>
              <!-- Role -->
              <li class="relative py-2">
                <div class="flex items-start mb-1">
                  <div class="absolute left-0 h-14 w-14 flex items-center justify-center border border-slate-200 dark:border-slate-800 dark:bg-gradient-to-t dark:from-slate-800 dark:to-slate-800/30 bg-white dark:bg-slate-900 rounded-full">
                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17">
                      <path fill="#6366F1" d="M2.486 5.549C3.974 7.044 5.953 7.89 8.009 8.045c-.138-2.065-.997-4.053-2.486-5.548C4.035 1.002 2.117.154 0 0c.138 2.065.997 4.053 2.486 5.549Zm12.028 0c-1.488 1.495-3.467 2.342-5.523 2.496.138-2.065.997-4.053 2.486-5.548C12.888 1.002 14.883.154 17 0c-.153 2.065-.997 4.053-2.486 5.549Zm0 5.902c-1.488-1.495-3.467-2.342-5.523-2.496.138 2.065.997 4.053 2.486 5.548C12.965 15.998 14.944 16.846 17 17c-.153-2.127-.997-4.13-2.486-5.549Zm-12.028 0c1.488-1.495 3.467-2.342 5.6-2.496-.138 2.065-.998 4.053-2.486 5.548C4.035 15.998 2.117 16.861 0 17c.138-2.127.997-4.13 2.486-5.549Z" />
                    </svg>
                  </div>
                  <div class="pl-20 space-y-1">
                    <div class="text-xs text-slate-500 uppercase">Feb 2016 <span class="text-slate-400 dark:text-slate-600">路</span> Dec 2016</div>
                    <div class="font-aspekta font-[650] text-slate-800 dark:text-slate-100">Cloud Software Engineering Intern</div>
                    <div class="text-sm font-medium text-slate-800 dark:text-slate-100">Qonto</div>
                    <div class="text-sm text-slate-500 dark:text-slate-400">In my role as a Senior Software Engineer for Google, I am responsible for developing and maintaining the Chrome Web Experience.</div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="space-y-4">
            <h2 class="h3 font-aspekta text-slate-800 dark:text-slate-100">Let's Connect</h2>
            <p>
              I'm excited to connect with others via <a class="font-medium text-sky-500 hover:underline" href="#0">email</a> and <a class="font-medium text-sky-500 hover:underline" href="#0">Twitter</a> to chat about projects and ideas. Currently, I'm not taking on freelance projects, but I am open to hearing about potential opportunities, discussing them with you and then potentially collaborating if it's a good fit.
            </p>
          </div>
        </div>
      </section>

    </div>
  </div>
  <!-- Right sidebar -->
  <aside class="md:w-[240px] lg:w-[300px] shrink-0">
    <div class="space-y-6">
    </div>
  </aside>
</div>